<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Adminpanel/Admin/css/normalize.css">
    <link rel="stylesheet" href="../Adminpanel/Admin/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../Adminpanel/Admin/Js/main.js"></script>
    <title>Files</title>
</head>
<body>
    <div class="page">
        {{!-- <div class="sidebar">
            <h2 class="logo"id="logo">College System</h2>
            <ul class="navbar">
                <li title="student Info" class="navItem">
                    <a href="home.html">
                        <i class="fa-solid fa-address-card"></i><span>Student Info</span>
                    </a>
                </li>
                <li title="Courses Registeration" class="navItem ">
                    <a href="studentCourses.html">
                        <i class="fa-solid fa-book"></i><span>Courses Registeration</span>
                    </a>
                </li>
                <li title="Uploaded Files" class="navItem activee">
                    <a href="uploadedFiles.html">
                        <i class="fa-solid fa-file-arrow-up"></i>  <span>Downloaded Files</span>
                    </a>
                </li>
              
            </ul>
        </div>
        <div class="content">
            <div class="header">
            
                <div class="Account">
                    <span id="studentName">Student name</span>
                    <i onclick="openLogOut()" id="opendrop"class="fa-solid fa-angle-down"></i>
                    <i onclick="closeLogOut()"id="closedrop" class="fa-solid fa-angle-up hiddenn"></i>
                </div>
                <div class="logout" id="logout">
                    <ul>
                        <li>Student Account</li>
                        <li><a href="#logout">
                            <span>Log out</span> <i class="fa-solid fa-right-from-bracket"></i> 
                        </a></li>
                    </ul>
                </div>
            </div> --}}

            <h2 class="main-heading">Downloaded Files</h2>

            <div class="files-container">
                <div class="file-box">
                    <button type="submit"><i class="fa-solid fa-download"></i></button>
                    <div class="file-img">
                        <img src="/Student/images/pdf.svg" style="width:80px;" alt="">
                    </div>
                        <div class="file-name">
                            <a href="#file">file_name.pdf</a>
                        </div>
      
                        <div class="uploader">
                            uploader
                        </div>

                    
                </div>
                <div class="file-box">
                    <button type="submit"><i class="fa-solid fa-download"></i></button>
                    <div class="file-img">
                        <img src="/Student/images/pdf.svg" style="width:80px;" alt="">
                    </div>
                        <div class="file-name">
                            <a href="#file">file_name.pdf</a>
                        </div>
      
                        <div class="uploader">
                            uploader
                        </div>

                    
                </div>
                <div class="file-box">
                    <button type="submit"><i class="fa-solid fa-download"></i></button>
                    <div class="file-img">
                        <img src="/Student/images/pdf.svg" style="width:80px;" alt="">
                    </div>
                        <div class="file-name">
                            <a href="#file">file_name.pdf</a>
                        </div>
      
                        <div class="uploader">
                            uploader
                        </div>

                    
                </div>
                <div class="file-box">
                    <button type="submit"><i class="fa-solid fa-download"></i></button>
                    <div class="file-img">
                        <img src="/Student/images/pdf.svg" style="width:80px;" alt="">
                    </div>
                        <div class="file-name">
                            <a href="#file">file_name.pdf</a>
                        </div>
      
                        <div class="uploader">
                            uploader
                        </div>

                   
                </div>
                <div class="file-box">
                    <button type="submit"><i class="fa-solid fa-download"></i></button>
                    <div class="file-img">
                        <img src="/Student/images/pdf.svg" style="width:80px;" alt="">
                    </div>
                        <div class="file-name">
                            <a href="#file">file_name.pdf</a>
                        </div>
      
                        <div class="uploader">
                            uploader
                        </div>

                   
                </div>
                <div class="file-box">
                    <button type="submit"><i class="fa-solid fa-download"></i></button>
                    <div class="file-img">
                        <img src="/Student/images/pdf.svg" style="width:80px;" alt="">
                    </div>
                        <div class="file-name">
                            <a href="#file">file_name.pdf</a>
                        </div>
      
                        <div class="uploader">
                            uploader
                        </div>

                   
                </div>
                <div class="file-box">
                    <button type="submit"><i class="fa-solid fa-download"></i></button>
                    <div class="file-img">
                        <img src="/Student/images/pdf.svg" style="width:80px;" alt="">
                    </div>
                        <div class="file-name">
                            <a href="#file">file_name.pdf</a>
                        </div>
      
                        <div class="uploader">
                            uploader
                        </div>

                  
                </div>
                <div class="file-box">
                    <button type="submit"><i class="fa-solid fa-download"></i></button>
                    <div class="file-img">
                        <img src="/Student/images/pdf.svg" style="width:80px;" alt="">
                    </div>
                        <div class="file-name">
                            <a href="#file">file_name.pdf</a>
                        </div>
      
                        <div class="uploader">
                            uploader
                        </div>

                    
                </div>
                <div class="file-box">
                    <button type="submit"><i class="fa-solid fa-download"></i></button>
                    <div class="file-img">
                        <img src="/Student/images/pdf.svg" style="width:80px;" alt="">
                    </div>
                        <div class="file-name">
                            <a href="#file">file_name.pdf</a>
                        </div>
      
                        <div class="uploader">
                            uploader
                        </div>

                  
                </div>
                <div class="file-box">
                    <button type="submit"><i class="fa-solid fa-download"></i></button>
                    <div class="file-img">
                        <img src="/Student/images/pdf.svg" style="width:80px;" alt="">
                    </div>
                        <div class="file-name">
                            <a href="#file">file_name.pdf</a>
                        </div>
      
                        <div class="uploader">
                            uploader
                        </div>

                   
                </div>
                <div class="file-box">
                    <button type="submit"><i class="fa-solid fa-download"></i></button>
                    <div class="file-img">
                        <img src="/Student/images/pdf.svg" style="width:80px;" alt="">
                    </div>
                        <div class="file-name">
                            <a href="#file">file_name.pdf</a>
                        </div>
      
                        <div class="uploader">
                            uploader
                        </div>

                   
                </div>
                <div class="file-box">
                    <button type="submit"><i class="fa-solid fa-download"></i></button>
                    <div class="file-img">
                        <img src="/Student/images/pdf.svg" style="width:80px;" alt="">
                    </div>
                        <div class="file-name">
                            <a href="#file">file_name.pdf</a>
                        </div>
      
                        <div class="uploader">
                            uploader
                        </div>

                  
                </div>
            </div>











        </div>
    </div>
</body>
</html>