

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  
</head>
<body>
    <nav class="navbar navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header">
        <i  class='fas fa-user-shield' style='font-size:36px;color:rgb(94, 230, 235)'></i>
        <a class="navbar-brand" style="color:rgb(94, 230, 235)" href="#">ADMIN PAGE</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a style="color:rgb(255, 255, 255)" href="http://localhost:1000/departments/create">Department Management</a></li>
      <li class="active"><a style="color:rgb(255, 255, 255)" href="http://localhost:1000/subjects/create">Course Management</a></li>
      <li class="active"><a style="color:rgb(255, 255, 255)" href="http://localhost:1000/absence">Absence Management</a></li>
      <li class="active"><a style="color:rgb(255, 255, 255)" href="http://localhost:1000/doctors/create">Doctor Management</a></li>
      <li class="active"><a style="color:rgb(255, 255, 255)" href="http://localhost:1000/students/create">Student Management</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a style="color:rgb(209, 239, 247)" href="#"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
  </div>
</nav>
    
    <div class="footer" style="position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height:6%;
   background-color: rgb(0, 0, 0);
   color: white;
   text-align: center;">
  <p>Faculty Of Computers And Informations <span style="color:rgb(94, 230, 235)">Menofia University</span></p>
</div>
</body>
</html>




<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: rgb(243, 236, 236);">
    <div style="padding: 50px 200px; "  class="d-flex justify-content-between">
        <h3>Update and Delete Doctor </h3>

       {{#each update}}
              {{name}}
              <div>
               <a href="/doctors/update_doctor{{_id}}/edit">Edit  </a> 

                <form action="/doctor/{{_id}}?_method=delete" method="post">
                
                    <button type="submit">Delete</button>
                </form>
                
                <br>
                <br>
                <br>
              </div>
        {{/each}} 
        


</div>
</body>
</html>