<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <!-- <link rel="stylesheet" href="../Adminpanel/Admin/css/all.css">
    <link rel="stylesheet" href="../Adminpanel/Admin/css/main.css"> -->
 
    <title>Home</title>
</head>
<body>
    <div class="page">
        <div class="sidebar">
            <h2 class="logo"id="logo">College System</h2>
            <ul class="navbar">
                <li title="student Info" class="navItem activee">
                    <a href="http://localhost:5000/studentI">
                        <i class="fa-solid fa-address-card"></i><span>Student Info</span>
                    </a>
                </li>
                <li title="Courses Registeration" class="navItem">
                    <a href="http://localhost:5000/student">
                        <i class="fa-solid fa-book"></i><span>Courses Registeration</span>
                    </a>
                </li>
                <li title="Uploaded Files" class="navItem">
                    <a href="http://localhost:5000/studentU">
                        <i class="fa-solid fa-file-arrow-up"></i>  <span>Uploaded Files</span>
                    </a>
                </li>
              
            </ul>
        </div>
        {{!-- <div class="content">
            <div class="header">
            
                <div class="Account">
                    <span id="studentName">Student name</span>
                    <i onclick="openLogOut()" id="opendrop"class="fa-solid fa-angle-down"></i>
                    <i onclick="closeLogOut()"id="closedrop" class="fa-solid fa-angle-up hiddenn"></i>
                </div>
                <div class="logout" id="logout">
                    <ul>
                        <li>Student Account</li>
                        <li><a href="#logout">
                            <span>Log out</span> <i class="fa-solid fa-right-from-bracket"></i> 
                        </a></li>
                    </ul>
                </div>
            </div>

            <h2 class="main-heading">Student Info</h2>

            <div class="student-info">
                <div class="student-pic">
                    <img src="images/profile-pic.png" alt="" id="profilePic">
                    <input type="file" name="" id="profileFile">
                    <label for="profileFile" id="uploadBtn">Uplaod Photo</label>
                </div>
                <div class="info">
                  <div class="Student-name">
                    <span>Student Name : </span><span id="studentName">the name</span>
                  </div>
                  <div class="Student-Year">
                    <span>Year : </span><span id="studentYear">Third Year</span>
                  </div>
                  <div class="academic-number">
                    <span>Academic Number : </span><span id="academicNumber">2020101</span>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../Adminpanel/Admin/Js/main.js"></script> --}}
    {{{body}}}
</body>
</html>